<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.camerax.jetpackcomposetutorials">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetpackComposeTutorials">
        <activity
            android:name=".ui.activities.BottomNavigationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.BasicUIActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.PhotoCardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.CustomColumnActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.LazyColumnWithCoroutine"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ConstraintLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.CustomLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.MaterialThemeScaffold"
            android:exported="true" />
        <activity
            android:name=".ui.activities.FlexibleLayoutActivity"
            android:exported="true"
            android:label="@string/title_activity_flexible_layout"
            android:theme="@style/Theme.JetpackComposeTutorials.NoActionBar" />
        <activity
            android:name=".ui.activities.StateInComposeActivity"
            android:exported="true"
            android:label="@string/title_activity_simple_recycler_view" />
        <activity
            android:name=".ui.activities.LazyColumnAndSimpleListActivity"
            android:exported="true" />

        <activity
            android:name=".ui.activities.MBasicListActivity"
            android:exported="true" />

        <activity
            android:name=".ui.activities.MConstraintLayoutActivity"
            android:exported="true" />

        <activity
            android:name=".ui.activities.VerticalAndHorizontalScrollingActivity"
            android:exported="true"
            android:label="@string/title_activity_vertical_and_horizontal_scrolling"
            android:theme="@style/Theme.JetpackComposeTutorials.NoActionBar" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.JetpackComposeTutorials.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>